Perform the following operations on iris dataset
1. Display mean, median, minimum, maximum, standard deviation
2. Provide mean, median, minimum, maximum, standard deviation for a
given dataset by grouping using one of the qualitative (categorical)
variable
3. Display missing values and inconsistencies.
4. Replace missing values using any 2 suitable

In [14]:
import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
# iris = load_iris()

iris=pd.read_csv("Iris.csv")
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [15]:
# Create a DataFrame from the dataset
iris_df = pd.DataFrame(iris)

In [16]:
# 1. Display mean, median, minimum, maximum, standard deviation
statistics = iris_df.describe()
print("Statistics for Iris Dataset:\n", statistics)

Statistics for Iris Dataset:
                Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [17]:
# 2. Provide mean, median, minimum, maximum, standard deviation for a given dataset by grouping using one of the qualitative (categorical) variable
# For example, let's group by 'species' and compute statistics
grouped_statistics = iris_df.groupby('Species').describe()
print("\nStatistics grouped by 'species':\n", grouped_statistics)

Statistics grouped by 'species':
                    Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  5.006  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]

In [5]:
# 3. Display missing values and inconsistencies
missing_values = iris_df.isnull().sum()
print("\nMissing Values:\n", missing_values)

# There are no inconsistencies in the Iris dataset.

Missing Values:
 sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
species              0
dtype: int64

In [8]:
# Example of inconsistency

import pandas as pd

# Sample Iris dataset with an inconsistency
data = {
    'sepal_length': [5.1, 4.9, 4.7, 4.6, 5.0],
    'sepal_width': [3.5, 3.0, 3.2, 3.1, 3.6],
    'petal_length': [1.4, 1.4, 1.3, 1.5, 1.4],
    'petal_width': [0.2, 0.2, 0.2, 0.2, 0.2],
    'species': ['setosa', 'versicolor', 'virginica', 'setosa', 'veersicolor']  # Introduced inconsistency here
}

iris_df = pd.DataFrame(data)

# Correct the inconsistency
iris_df['species'].replace('veersicolor', 'versicolor', inplace=True)

# Check if there are any inconsistencies
inconsistent_rows = iris_df[~iris_df['species'].isin(['setosa', 'versicolor', 'virginica'])]

if inconsistent_rows.empty:
    print("There are no inconsistencies in the Iris dataset.")
else:
    print("Inconsistent rows:")
    print(inconsistent_rows)

There are no inconsistencies in the Iris dataset.

In [9]:
# 4. Replace missing values using any 2 suitable
# Let's introduce some missing values for demonstration
iris_df.loc[iris_df.sample(frac=0.1).index, 'sepal length (cm)'] = None
iris_df.loc[iris_df.sample(frac=0.1).index, 'petal width (cm)'] = None

In [12]:
# Replace missing values using mean and median
iris_df['sepal length (cm)'].fillna(iris_df['sepal length (cm)'].mean(), inplace=True)
iris_df['petal width (cm)'].fillna(iris_df['petal width (cm)'].median(), inplace=True)

c:\Users\DELL\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\lib\nanfunctions.py:1216: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [13]:
# Display the modified DataFrame after replacing missing values
print("\nModified DataFrame after replacing missing values:\n", iris_df)

Modified DataFrame after replacing missing values:
    sepal_length  sepal_width  petal_length  petal_width     species  \
0           5.1          3.5           1.4          0.2      setosa
1           4.9          3.0           1.4          0.2  versicolor
2           4.7          3.2           1.3          0.2   virginica
3           4.6          3.1           1.5          0.2      setosa
4           5.0          3.6           1.4          0.2  versicolor

   sepal length (cm)  petal width (cm)
0                NaN               NaN
1                NaN               NaN
2                NaN               NaN
3                NaN               NaN
4                NaN               NaN